<div class="animate__animated animate__fadeIn m">
    <div>
        <div class="container mt-4">
            <button routerLink="" type="button" class="btn btn-primary"> <i class="bi bi-arrow-90deg-left"></i> Back</button>
        </div>
        
        <hr>
        <div class=" d-flex justify-content-between container mt-4">
          
                <div class="d-flex justify-content-between container "> 
                    <div class="m-2" >
                        <div  *ngFor="let image of product.productImages last as isLast ; index as idx;"
                        (click)="slecectImage(idx)"
                          class="{{idx == imageCount ? 'subImageSelected' : 'subImage'}}"
                        style="background-image: url(data:image\/*;base64,{{image.image}});"></div>
                    </div>
                    <div>
                    <div  class="img" style="background-image: url(data:image\/*;base64,{{product.productImages[imageCount].image}});"></div>
                </div>
                <div class="m-4" style=" text-align: justify;" >
                    <div class="d-flex justify-content-between container mt-2 ">
                        <h1>{{product.name}} </h1>
                        <h2> {{product.price.toFixed(2)}} <i class="bi bi-cash-stack" style="color: green;"></i></h2>
                    </div>
                    <hr>
                    <p >
                        {{product.description}}
                    </p>
                    <hr>
                    <div class="d-flex justify-content-between container mt-2">
                     <h2>  <i class="bi bi-tag-fill"></i> {{product.category}} </h2>  
                     <h2>   {{product.company}} </h2>  
                     <h2>  {{product.type}} </h2>  
                    </div>
                    <hr>
                    <div class="d-flex justify-content-between container">
                        <span> Qty</span>
                        <input  style="height: 40px ; width: 100px ; text-align: center;"
                        [(ngModel)]="qty"
                        type="number"  
                        id="exampleInputEmail1" 
                        aria-describedby="emailHelp"
                         >

                        <button type="button" (click)="addCart(product.id)" class="btn btn-success" style="width: 200px ;"> <i class="bi bi-cart-plus-fill" style="font-size: 30px;"></i></button>

                       
                    </div>
                    
                </div>
                
           
        </div>
        
    </div>
    
</div>
