<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="form-group col-9">
            <label for="exampleInputEmail1" class="form-label mt-4">Type Name :</label>
            <input type="text"
             class="form-control"
             id="name"
             name="type.name"
            [(ngModel)]="type.name"
            formControlName="name"
            placeholder="Enter type Name">
            <span class="text text-danger" *ngIf="Name?.touched && Name?.invalid">
                *The Name Is Required 
            </span>
          </div>
          <div class="col-3 mt-4" style="position: relative; top:8px; right: 15px;;">
              <br>
            <button [disabled] = "form.invalid" type="submit" class="btn btn-primary" style="font-size: 14px; width: 70px ; height: 40px; ">  <i class="bi bi-plus-circle"></i> Add</button>
          </div>
    </div>
    <br>
    <small  style="font-size: 13px ;"> Note This Type Will Create With Category {{selectedCategory.name}}</small>
</form>
